/* .outter_box{
    min-height: 100%;
    min-width: 100%;
    left: 0;
    top: 0;
    background-color: pink;
} */
.header{
    background-color: rgb(3, 3, 3);
}

.greeting{ 
    text-align: center;
    padding-top: 15%;

}

header{
    color: rgb(228, 233, 238);
    margin: 1%;
    font-size: 300%;
    font-style: normal;
}

.my_name{
    color: orange;
}

.typer{
    color: greenyellow;
    font-family: monospace;
}