.app_header{
    color: var(--etienne_text);
    background-color: var(--light_gray_background);
}

.list_controls{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 1em;

}

.user_input_section{
    flex: 1 0 400px;
}

.task_list{
    flex: 2;
    color: var(--code_color)
}

.completed_list{
    flex: 1;
    color: var(--purple);
}