.mm_main{
    height: 100vh;
    background-color: #7AC5D6;
    padding-left: 10%;
    padding-right: 10%;
}

.description{
    margin-top: 1em;
    margin-bottom: 1em;
    background-color: chocolate;

}

.wate_inputs{
    background-color: darkmagenta;
    padding: 10%;
}