*{
  margin: 0;
  padding: 0;
}

:root {
  --blue: #4B8AD2; /* Bleu de France */
  --red: #FF5666; /* Fiery Rose */
  --dark_gray: #53585A;/* Davy Grey */
  --purple: #6369D1;   /* Violet Blue Crayola */
  --background_black: #363537; /* Jet */
  --gold: #918868 ;   /* Shadow */
  --light_blue:  #7AC5D6;/* Eerie Black */


  /* named */
  --light_gray_background: #9197AB; /* Manetee */
  --etienne_text: #ED7D3A; /* Princeton Orange */
  --simple_text:  #1F1E1F;   /* Eerie Black */
  --white: #EFF5FB;   /* Alice Blue */
  --code_color: #9BFC2B;   /* Eerie Black */
  --other_white: #EBF2Fa;
}